body {
    margin: 0;
    background: #A7D1EF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.left-side {
    width: 100%;
    padding: 150px 30px 30px 150px;
}

.right-side{
    width: 120%;
}

.thank-you {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 68px;
    color: #353B7D;
    padding: 50px 0;
}

.second-head {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 68px;
    color: #FFFFFF;
    width: 40%;
}

.text {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    width: 50%;
    padding: 60px 0;
}

.first-desc{
    margin: 20px 0;
}

.link{
    color: #353B7D;
    cursor: pointer;
    text-decoration: none;
}

.image3{
    margin: -20px 5px 0 5px;
    position: absolute;
}

.image{
    float: right;
    padding-top: 5px;
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .left-side {
        padding: 80px 30px 25px 150px;
    }
    
    .thank-you {
        font-weight: 400;
        font-size: 90px;
        line-height: 68px;
        padding: 40px 0;
    }
    
    .second-head {
        font-weight: 400;
        font-size: 52px;
        line-height: 60px;
        width: 50%;
    }
    
    .text {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        width: 50%;
        padding: 30px 0;
    }

    .image3{
        margin: -5px 5px 0 5px;
        width: 40px;
    }
    
    .image{
        width: 100%;
        margin-top: 0px;
        padding-top: 0px;
    }

}


@media screen and (max-width: 1024px) {
    .left-side {
        padding: 80px 30px 30px 100px;
    }
    
    .thank-you {
        font-weight: 300;
        font-size: 90px;
        line-height: 68px;
        padding: 50px 0;
    }
    
    .second-head {
        font-weight: 300;
        font-size: 52px;
        line-height: 60px;
        width: 80%;
    }
    
    .text {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        width: 50%;
        padding: 20px 0;
    }

    .image3{
        margin: -5px 5px 0 5px;
        width: 40px;
    }
    
    .image{
        width: 120%;
        margin-top: 135px;
    }
}


@media screen and (max-width: 768px) {
    .left-side {
        padding: 50px 30px 25px 100px;
    }
    
    .thank-you {
        font-weight: 300;
        font-size: 70px;
        line-height: 68px;
        padding: 20px 0;
    }
    
    .second-head {
        font-weight: 300;
        font-size: 35px;
        line-height: 40px;
        width: 80%;
    }
    
    .text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        width: 80%;
        padding: 5px 0;
    }

    .image3{
        margin: -5px 5px 0 5px;
        width: 40px;
    }
    
    .image{
        width: 120%;
        margin-top: 135px;
    }
}


@media screen and (max-width: 425px) {
    body{
        flex-direction: column;
    }

    .left-side {
        padding: 40px;
        width: auto;
    }
    
    .thank-you {
        font-weight: 300;
        font-size: 90px;
        line-height: 75px;
        padding: 50px 0;
    }
    
    .second-head {
        font-weight: 300;
        font-size: 52px;
        line-height: 60px;
        width: 100%;
    }
    
    .text {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        width: 100%;
        padding: 20px 0;
    }

    .image3{
        margin: -5px 5px 0 5px;
        width: 40px;
    }

    .right-side{
        width: 100%;
    }
    
    .image{
        width: 100%;
        margin-top: 0px;
    }
}