.qslogo-image {
    width: 120px !important;
}

.menu-image {
    width: 120px !important;
}

.qode-social {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
}

.desc-qode-social {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
}

.qs-below-button1 {
    width: 40%;
}

.qs-below-button2 {
    width: 25%;
}

.social-media {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
}

.full-services {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
}

.desc-services {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
}

.case-study-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
    text-align: end;
    margin-right: 5%;
}

.case-study-image {
    z-index: -1;
    margin-top: -16.5%;
    width: 75%;
}

.quotation-mark {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 25px;
}

.quotation-mark-desc {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
}

.quotation-mark-desc {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
}

.quotation-mark-head {
    font-family: Comfortaa;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
}

.quotation-mark-head-desc {
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
}

.brand-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
}

.plan-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
}

.plan-desc {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
}

.accolades-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
}

.marketing-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
}

.send-message-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
}

.send-message-desc {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
}

.qode-social-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}

.qode-social-term {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
}

.services-area-head {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.services-area-desc {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.toronto-box{
    padding: 4% 10%;
}