.qslogo-image {
    width: 100px;
}

.menu-image {
    width: 50px;
}

.qode-social {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
}

.desc-qode-social {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
}