body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'PT Serif';
    margin: 0;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.title1 {
    width: 100%;
    margin-bottom: 10px;
}

.title2 {
    width: 100%;
}

.navBar {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items {
    margin: 25px 30px 25px 30px;
    padding-bottom: 2px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.familyLaw {
    background-color: #EED1C773;
    padding: 25px 20px 20px 20px;
}

.familyImage {
    width: 1200px;
    height: 550px;
}

.titlefamily {
    font-family: 'Playfair Display', serif;
    font-size: 68px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4410E;
    display: flex;
    flex-direction: row;
    margin: 45px 0 35px 0;
}

.text {
    width: 0 10px 0 10px;
}

.line {
    width: 33%;
}

.descFamily {
    width: 70%;
    margin-left: 17%;
    margin-bottom: 50px;
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

}

.lawyers {
    display: flex;
    margin: 60px;
}

.lawyersHead {
    flex: 1;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.descLawyer {
    flex: 2.5;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    margin-left: 30px;
}

.services {
    background: #EED1C780;
    padding: 30px 0 60px 0;
}

.servicesHead {
    display: flex;
}

.line1 {
    background-color: white;
    border: none;
    width: 100%;
    height: 1px;
    margin-top: 25px;
}

.servicesText {
    width: 200%;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.descServices {
    width: 50%;
    margin-left: 25%;
    font-family: 'PT Serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.helpHead {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}

.help {
    padding: 30px 0 30px 10px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box {
    width: 300px;
    padding: 50px;
}

.boxHead {
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin: 30px 2px 30px 0;

}

.descBox {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

.footer {
    background: #EED1C780;
    padding: 50px 50px 10px 50px;
}

.social-icon {
    margin-bottom: 20px;
}

.icon {
    margin-right: 10px;
}

.descFooter {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
    color: #606060;
}


@media screen and (max-width: 1024px) {
    .title1{
        width: 300px !important;
    }

    .title2{
        width: 400px !important;
    }

    .items {
        font-weight: 600;
        font-size: 23px;
    }

    .titlefamily {
        font-size: 73px;
        font-weight: 700;
    }

    .descFamily {
        font-size: 23px;
        font-weight: 450;
    }

    .lawyersHead {
        font-size: 47px;
        font-weight: 450;
    }

    .descLawyer {
        font-size: 21px;
    }

    .servicesText {
        font-size: 37px;
        font-weight: 450;
    }

    .descServices {
        font-size: 21px;
        font-weight: 450;
    }

    .helpHead {
        font-size: 47px;
        font-weight: 450;
    }

    .boxHead {
        font-size: 23px;
        font-weight: 750;
    }

    .descBox {
        font-size: 21px;
        font-weight: 400;
    }

    .descFooter {
        font-size: 21px;
        font-weight: 450;
    }

    .line {
        width: 33%;
    }

}


@media screen and (max-width: 768px) {

    .title1{
        width: 400px !important;
    }

    .title2{
        width: 500px !important;
    }


    .items {
        font-weight: 600;
        font-size: 28px;
    }

    .titlefamily {
        font-size: 83px;
        font-weight: 800;
    }

    .descFamily {
        font-size: 33px;
        font-weight: 500;
        line-height: 42px;
    }

    .lawyersHead {
        font-size: 57px;
        font-weight: 500;
        line-height: 68px;
    }

    .descLawyer {
        font-size: 31px;
        line-height: 38px;
    }

    .servicesText {
        font-size: 47px;
        font-weight: 500;
    }

    .descServices {
        font-size: 31px;
        font-weight: 500;
        line-height: 38px;
    }

    .helpHead {
        font-size: 57px;
        font-weight: 500;
    }

    .boxHead {
        font-size: 33px;
        font-weight: 800;
        line-height: 45px;
    }

    .descBox {
        font-size: 31px;
        font-weight: 450;
        line-height: 38px;
    }

    .descFooter {
        font-size: 31px;
        font-weight: 500;
    }

    .line {
        width: 25%;
    }

    .box {
        width: 350px;
    }
}

@media screen and (max-width: 425px) {
    .items {
        font-weight: 650;
        font-size: 33px;
    }

    .titlefamily {
        font-size: 88px;
        font-weight: 850;
    }

    .descFamily {
        font-size: 43px;
        font-weight: 500;
        line-height: 55px;
    }

    .lawyersHead {
        font-size: 62px;
        font-weight: 550;
        line-height: 80px;
    }

    .descLawyer {
        font-size: 41px;
        line-height: 55px;
    }

    .servicesText {
        font-size: 52px;
        font-weight: 550;
        line-height: 70px;
    }

    .descServices {
        font-size: 41px;
        font-weight: 500;
        line-height: 55px;
    }

    .helpHead {
        font-size: 62px;
        font-weight: 500;
    }

    .boxHead {
        font-size: 38px;
        font-weight: 800;
        line-height: 50px;
    }

    .descBox {
        font-size: 41px;
        font-weight: 450;
        line-height: 50px;
    }

    .descFooter {
        font-size: 41px;
        font-weight: 500;
        line-height: 70px;
    }

    .box {
        width: 550px;
    }
    
    .vec1{
        width: 200px;
    }
}