body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'PT Serif';
    margin: 0;
    width: 100%;
}

.title {
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.nav-bar {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items {
    margin: 25px 50px;
    padding-bottom: 3px;
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 18px;
}

.family-law {
    background-color: #EED1C773;
    padding: 40px;
}

.family-image {
    width: 100%;
    height: auto;
}

.title-family {
    font-family: 'Playfair Display', serif;
    font-size: 68px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4410E;
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.title-family .text {
    width: 100%;
}

.line {
    width: 50%;
}

.desc-family {
    margin: 50px 25%;
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
}

.lawyers {
    display: flex;
    margin: 60px;
}

.lawyers-head {
    width: 40%;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.desc-lawyer {
    width: 60%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    margin-left: 60px;
}

.services {
    background: #EED1C780;
    padding: 30px 0 60px 0;
}

.services-head {
    display: flex;
}

.line1 {
    background-color: white;
    border: none;
    width: 100%;
    height: 1px;
    margin-top: 25px;
}

.services-text {
    width: 200%;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
}

.desc-services {
    width: 50%;
    margin: 20px 25%;
    font-family: 'PT Serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.help-head {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
}

.help {
    padding: 100px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}

.box {
    width: 400px;
    padding: 40px;
}

.vec1 {
    width: 35%;
    height: 40%;
}

.box-head {
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin: 30px 2px 30px 0;

}

.desc-box {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

.footer {
    background: #EED1C780;
    padding: 50px 50px 10px 50px;
}

.social-icon {
    margin-bottom: 20px;
}

.icon {
    margin-right: 10px;
}

.desc-footer {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
    color: #606060;
}

.title1 {
    padding: 5px;
    width: 250px;
}

.title2{
    width: 300px;
}


@media screen and (max-width: 1440px) {
    .items{
        font-size: 18px;
        margin: 30px 40px;
    }

    .title {
        padding: 30px 0;
    }

    .title2 {
        width: 300px;
    }

    .items {
        font-weight: 600;
        font-size: 20px;
    }

    .family-law {
        padding: 40px;
    }

    .title-family {
        font-size: 78px;
        font-weight: 600;
    }

    .desc-family {
        font-size: 20px;
        font-weight: 400;
    }

    .lawyers-head {
        font-size: 50px;
        font-weight: 400;
        line-height: 58px;
    }

    .desc-lawyer {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-left: 60px;
    }

    .services-text {
        width: 200%;
        font-size: 40px;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: 0em;
    }

    .desc-services {
        width: 50%;
        margin: 20px 25%;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
    }

    .help-head {
        font-size: 47px;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: 0em;
    }

    .vec1 {
        width: 37%;
        height: 37%;
    }

    .box{
        width: 300px;
    }

    .box-head {
        font-size: 25px;
        line-height: 32px;
    }

    .desc-box {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
    }

    .desc-footer {
        font-size: 18px;
    }

    .title1 {
        padding: 20px;
        width: 300px;
    }
}


@media screen and (max-width: 1024px) {
    .items{
        font-size: 18px;
        margin: 25px 35px;
    }

    .box{
        width: 290px;
    }

    .vec1{
        width: 33%;
        height: 32%;
    }
}

@media screen and (max-width: 1024px) {
    .items{
        font-size: 18px;
        margin: 20px 25px;
    }

    
}