.button-text {
    font-size: 14px;
}

.card {
    padding: 30px;
    border: none;
    text-align: center;
}

.business-card {
    height: 700px;
    background: rgba(0, 0, 0, 0.6);
}

.picture-text-box {
    padding: 6rem;
}

.sixth-main-text {
    width: 65%;
}

.image-absolute {
    width: 700px;
}

.polygon {
    margin-top: -200px;
    right: 50px;
    z-index: 3;
}

.footer {
    padding: 7rem;
    padding-bottom: 0;
}

@media screen and (max-width: 1440px) {
    h1 {
        /* original pixel: 42px */
        font-size: 39px;
    }

    h2 {
        /* original pixel: 35px */
        font-size: 33px;
    }

    h3 {
        /* original pixel: 32px */
        font-size: 29px;
    }

    h4 {
        /* original pixel: 28px */
        font-size: 25px;
    }

    h5 {
        /* original pixel: 25px */
        font-size: 22px;
    }

    .nav-item {
        font-size: 19px;
    }

    .main-cards {
        padding: 2.5rem !important;
        margin: 2.5rem !important;
    }

    .card-desc {
        /* original pixel: 20px */
        font-size: 19px;
    }

    .desc {
        /* original pixel: 20px */
        font-size: 19px;
    }

    .picture-text-box {
        padding: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        /* original pixel: 42px */
        font-size: 35px;
    }

    h2 {
        /* original pixel: 35px */
        font-size: 28px;
    }

    h3 {
        /* original pixel: 32px */
        font-size: 25px;
    }

    h4 {
        /* original pixel: 28px */
        font-size: 21px;
    }

    h5 {
        /* original pixel: 25px */
        font-size: 18px;
    }

    .main-cards {
        padding: 2rem !important;
        margin: 2rem !important;
    }

    .desc {
        /* original pixel: 20px */
        font-size: 18px;
    }

    .picture-text-box {
        padding: 4rem !important;
    }

    .sixth-main-text {
        width: 90%;
    }

    .card {
        width: 50%;
    }

    .nav-item {
        font-size: 16px;
    }

    a {
        padding: 0;
    }

    .polygon {
        width: 40%;
    }

    .footer {
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .picture-text-box {
        padding: 2rem !important;
    }

    .polygon {
        width: 30%;
    }

    .nav-border-margin {
        margin: 0 40%;
    }

    .business-card{
        height: 450px;
    }

    .image-absolute {
        width: 400px;
    }
}

@media screen and (max-width: 425px) {
    .first-main{
        flex-direction: column !important;
    }

    body {
        width: 100%;
    }

    .main-cards {
        padding: 1rem !important;
        margin: 1rem !important;
    }

    .desc {
        /* original pixel: 20px */
        font-size: 18px;
    }

    .picture-text-box {
        padding: 2rem !important;
        text-align: center !important;
    }

    .sixth-main-text {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .nav-item {
        font-size: 16px;
    }

    .image-absolute {
        width: 300px;
    }

    a {
        padding: 0;
    }

    .nav-border-margin {
        margin: 0 35%;
    }

    .polygon {
        margin-top: -70px;
        right: 0px;
        width: 30%;
    }

    .footer {
        padding: 2rem;
    }
}