body {
    margin: 0;
    width: fit-content;
}

.navbar {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.firstLeft {
    padding: 200px 230px;
}

.firstTextFirst {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #E1A532;
}

.secondTextFirst {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 48px;
    line-height: 62px;
    /* or 129% */


    color: #000000;

}

.thirdTextFirst {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0;
    /* identical to box height */


    color: #000000;
}

.forthTextFirst {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0 40px 0;
    /* identical to box height */


    color: #000000;
}

.image {
    width: 45%;
    height: 45%;
}

.secondMain {
    position: relative;
    background: #e6f4ff;
    /* opacity: 0.1; */
    padding: 70px 50px;

}

.firstTextSecond {
    position: relative;
    z-index: 1;
    font-family: Avenir LT Std;
    font-size: 36px;
    font-weight: 750;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;

}

.secondTextSecond {
    position: relative;
    background: #046DC4;
    border-radius: 60px;
    font-family: 'Avenir LT Std';
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 10px;
    margin: 20px 46.5%;
}


.ploygon1 {
    position: absolute;
    margin-left: 50px;
    width: 500px;
}

.ploygon2 {
    position: absolute;
    width: 200px;
    margin: 200px 0 0 1280px;
}

.popsockets {
    position: relative;
    margin-left: 200px;
    margin-top: 100px;
}

.design2 {
    position: absolute;
    margin-left: 500px;
}


.business {
    background: #00000099;
    padding-bottom: 50px;
    padding-left: 33%;
}

.business>img {
    opacity: 0.3;
    width: 700px;
}

.textThird {
    position: absolute;
    z-index: 1;
    margin: -400px 0 0 40%;
}

.firstTextThird {
    font-family: Avenir LT Std;
    font-size: 36px;
    font-weight: 750;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.secondTextThird {
    background: #E1A532;
    border-radius: 60px;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding: 10px 20px;
    margin: 20px 110px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.fourthMain {
    margin: 100px 150px;
}

.card {
    border: none;
    align-items: center;
}

.cardTitle {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
    margin: 20px 0 5px 0;
    color: #000000;
}

.cardDesc {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.shopNow {
    background: #046DC4;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    gap: 10px;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    padding: 10px 40px;
    color: #FFFFFF;
}

.imgOne {
    padding: 0;
}

.textGrid {
    padding: 0 150px;
}

.margin {
    padding-top: 200px;
}

.firstTextGrid {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #046DC4;
}

.secondTextGrid {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 43px;
    text-transform: capitalize;
    margin: 10px 0 20px 0;
    color: #000000;
}

.thirdTextGrid {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    margin-right: 100px;

    color: #000000;
}

.forthTextGrid {
    background: #046DC4;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    gap: 10px;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin: 70px 70% 0 0;
    align-items: center;
    text-align: center;
    padding: 10px 40px;
    color: #FFFFFF;
}

.sixthMain {
    text-align: center;
    background: #EAC070;
    padding: 100px;
}

.titleSixthMain {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: capitalize;
    margin: 40px 0;
    color: #000000;
}

.textSixthMain {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    width: 800px;
    margin-left: 25%;
    text-align: center;

    color: #000000;
}

.buttonSixthMain {
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    gap: 10px;
    background: #046DC4;
    border-radius: 60px;
    margin: 40px 45%;

    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    color: #FFFFFF;
}

.footer {
    padding: 100px 200px 0px 200px;
}

.titleFirstRow {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 108% */


    color: #000000;
}

.itemsFirstRow {
    margin: 20px 0;
}

.firstRowitem {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 42px;
    /* or 233% */

    text-decoration-line: underline;

    color: #000000;
}

.textCOnnectWith {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 108% */


    color: #000000;
}

.copyright {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    margin-top: 100px;
    color: #555555;
}

.aboutUs {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 108% */


    color: #000000;
}

.descAboutUs {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
    margin-top: 30px;
}

.thirdRow{
    padding-right: 120px;
}

.newReleases {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 26px;
}

.descNewReleases {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0;
}

.textbox {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 26px;
    border: 1px solid;
    border-radius: 60px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.subscribe {
    background: #000000;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    gap: 10px;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding: 10px 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 60%;
}